.main {
    width: 90vw;
    padding: 0 4.5vw;

}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    font-weight: bold;
    font-size: 25px;
    justify-content: center;

}

.pagControl {
    margin: 5% 10%;
    color: rgb(50, 105, 179);
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;
    background-color: transparent;
    border: none;
}

.pagControl:hover {
    cursor: pointer;
    transform: scale(1.04);
    color: rgb(5, 49, 105);
}

.pagControl:disabled {
    color: rgb(81, 83, 87);
    transform: scale(1);
    cursor: default;
}

.loader {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.menuCards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5% 4%;
}

.qtdPokemons {
    color: rgb(50, 105, 179);
    font-size: 30px;
    font-weight: bold;
    border: 4px solid rgb(50, 105, 179);
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    .qtdPokemons {
        display: none;
    }

    .menuCards {
        justify-content: center;
        flex-direction: column;

    }
}